*{  
    background-color: rgb(84, 187, 131);
    padding: 15px;
    color:blueviolet 
}
    .header{
        padding: 30px;
        display: flex-wrap;
        background-color:black;
    
}
.footer{  
    
    padding: 30px;
    display: flex-wrap;
    background-color:black;

}

.hide{
    display: none;
}

button{
    margin-right: 10px;
}

#start{
    text-align: center;

    }
#quiz{
    text-align: center;
}